<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wxy.weibo.cosmos">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".Activity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
       android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name=".ui.activity.StartActivity"
            android:theme="@style/AppThemeNoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"
            android:theme="@style/AppThemeNoActionBar"
            ></activity>
        <activity android:name=".ui.activity.FFActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".ui.activity.WebActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:label=""
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.UserShowActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".ui.activity.ShowActivity"
            android:label=""
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppThemeNoActionBar"
            ></activity>
        <activity android:name=".ui.activity.SettingActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".ui.activity.UserAcitivty"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".ui.activity.ShareActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".ui.activity.AccountnumberActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".ui.activity.ByToMeActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".ui.activity.MentionsAcvtivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity android:name=".ui.activity.ReplyActivity"
            android:label=""
            android:theme="@style/AppThemeNoActionBar"></activity>
    </application>

</manifest>